<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUMb_gwmdiXyxFWhQ4Z8dphye_4UM0Wzk</string>
	<key>GCM_SENDER_ID</key>
	<string>274275566945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstapp.notetaker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notetakerflutterproject</string>
	<key>STORAGE_BUCKET</key>
	<string>notetakerflutterproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274275566945:ios:263d6262cffce3a6a53120</string>
</dict>
</plist>